html{
    min-height: 100%;
}

body{
    background: url(./50-Beautiful-and-Minimalist-Presentation-Backgrounds-04.jpg) no-repeat center ;
    background-size: cover;
    
}

form{
    padding: 20px;
    margin-top: 60px;
    border-radius: 15px;
}

form button, form h5{
    margin: 20px 0;
}